*.a
.obj/
tests/bjson.so
examples/test_fib
test_fib.c
examples/*.so
examples/hello
examples/hello_module
hello.c
microbench*.txt
qjs
qjsc
qjscalc
qjscalc.c
repl.c
run-test262
test262
test262_*.txt
test262o
test262o_*.txt
unicode
unicode_gen
run_octane
run_sunspider_like
